%header
  .header-logo
    %p uy
  %h3
    meet the
    %span> Neonroots'
    family
  .lenguage-links
    %a.eng{ href: "#" } en
    %a.esp{ href: "#" } es
  %nav.menu
    %a.brows{ href: "#" } browse team
    %a.return{ href: "#" } go back
.all-content
  %section.Welcome