%header
  .header-logo
    %p uy
  %h3
    meet the
    %span> Neonroots'
    family
  %a.brows browse team
  %a.return go back
  .lenguage-links
    %a.eng en
    %a.esp es
.all-content
  %section.Welcome